body{

margin:0;

background:#121212;

font-family:Arial;

color:white;

}

.topbar{

height:60px;

background:#1f1f1f;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 20px;

}

button{

padding:10px 18px;

border:none;

border-radius:8px;

background:#2979ff;

color:white;

cursor:pointer;

font-size:15px;

}

.player{

height:75vh;

display:flex;

justify-content:center;

align-items:center;

}

video{

width:90%;

height:100%;

background:black;

border-radius:10px;

}

.toolbar{

height:80px;

display:flex;

align-items:center;

justify-content:center;

gap:30px;

background:#1f1f1f;

}

select{

padding:10px;

border-radius:6px;

}
